<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
      <add name="CNX-Empreminsa_Admin" connectionString="Server=192.168.7.237; Port=3310; Database=empreminsa; CharSet=utf8; UID=admin; Password=x1QsTh37nHiFyk8Yd9xF3wWtp#200318; ssl-mode=none;" providerName="MySql.Data.MySqlClient"/>
      <add name="CNX-Empreminsa_Admin_LocalHost" connectionString="Server=127.0.0.1; Port=3310; Database=empreminsa; CharSet=utf8; UID=admin; Password=x1QsTh37nHiFyk8Yd9xF3wWtp#200318; ssl-mode=none;" providerName="MySql.Data.MySqlClient"/>
      <add name="CNX-Empreminsa_Debug" connectionString="Server=127.0.0.1; Port=3310; Database=empreminsa; CharSet=utf8; UID=root; Password=; ssl-mode=none;" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
</configuration>